{% extends "navbar/base.html" %}

{% load static %}
{% block content %}

<div class="main_tile">
    <div class="container">
        <div class="DMCA">
            <div class="row">
                <div class="col-lg-12">
                    <div class="DMCA_title">
                        <h2>DMCA</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="DMCA_text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id fermentum lorem, ac pulvinar neque. In et justo at lectus rutrum faucibus iaculis quis orci. Mauris urna justo, consequat sit amet tortor vitae, mattis facilisis diam. Nam eget quam eget elit aliquam elementum. Pellentesque cursus hendrerit leo sed rhoncus. Nunc vel metus ligula. Proin vitae molestie magna, nec dapibus lorem. Vivamus pharetra purus id volutpat pretium. Sed rutrum sed eros in commodo. Phasellus imperdiet, elit in porttitor dapibus, augue lacus volutpat est, sed pulvinar risus quam ac tellus. Nam non hendrerit nibh. Curabitur lectus ante, porta id lobortis vel, eleifend eget mauris. In fermentum velit sed dignissim aliquam. Vestibulum ac aliquam ante, id tristique est.</p>
                        <p>Curabitur porttitor dolor id felis tempus, vitae semper metus congue. Pellentesque nec porta quam, quis vestibulum nunc. Phasellus non diam euismod, venenatis nisl nec, pharetra mauris. Maecenas risus lacus, blandit sit amet auctor nec, elementum in ex. Aenean metus erat, faucibus nec leo scelerisque, egestas ullamcorper dui. Donec iaculis sodales libero, sed pulvinar tortor congue nec. Cras tincidunt lacus metus, sed mattis diam maximus in. Nulla rhoncus tincidunt est, a maximus nulla finibus vitae. Vivamus interdum diam non ipsum imperdiet, at pretium libero accumsan. Nulla ac neque ac lectus porttitor fringilla. Morbi a massa sit amet metus hendrerit elementum. In imperdiet sit amet nibh at luctus. Curabitur vitae tortor commodo, posuere ligula ac, fermentum arcu. Aliquam sed tristique nibh. Nunc at pulvinar turpis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}